@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@400;600&display=swap');


$violet: #674baf;
$soft-Magenta: #e882e8;

$headings: 'Open Sans', sans-serif;
$body: 'Poppins', sans-serif;

%margenes{
    margin:60px auto 0;
    max-width:1350px;
    padding:0 9px;
}